// =============================================================================
// Color Variables
// =============================================================================

$black: #000000;
$gray: #D8D8D8;
$white: #FFFFFF;

// =============================================================================
// Font Variables
// =============================================================================

$h1-font: 3vw Hurme2;
$h2-font: 1.6vw Hurme2;
$text-font: 0.85rem AdellePE;

// =============================================================================
// Mobile Width Variables
// =============================================================================

$mobile-width: 700px;

// =============================================================================
// Basic Color Palette
// =============================================================================

$color-palette: (
        accent1:						#0f0f0f,
        accent2:						#505050,
        accent3:						#f1f1f1,
);