@media screen and (max-width: #{$mobile-width}) {
  @extend %mobile-fluid;
  .half {
    width: 100% !important;
    height: 50% !important;

    .quarter {
      .inner {
        align-items: center;
        display: flex;
        justify-content: center;
      }
      p {
        width: 70vw !important;

        &.contact {
          width: 100% !important;
          font-size: 0.85rem !important;
        }
      }
      h2 {
        font-size: 1rem !important;
        &.subtitle {
          font-size: 1.4rem !important;
        }
      }
      .highlight {
        font-size: 0.75rem !important;
      }
      &.empty {
        display: none !important;
      }
    }
  }
  header {
    &.video {
      background-image: url('/images/sea.gif');
      background-size: cover;
      height: 100vh;
      filter: grayscale(65%);
    }
    video {
      display: none;
    }
    #logo {
      width: 35vw !important;

      &.smaller {
        width: 20vw !important;
      }
    }
  }
}